.flexbox-container{
    border: solid 1px black;
    display: flex;
    height: 500px;
    justify-content: space-around;
}

.flexbox-container .box{
    width: 200px;
    height: 300px;
    border: solid 1px red;
    padding: 5px;
    margin: 5px;
}
