body{
    position: relative;
    top: 20px;
    margin: auto;
    width: fit-content;
    padding: 40px;
    padding-top: 20px;
}

.container{
    max-width: 1920px;
}

.start{
    font-size: 1.5em;
    text-align: center;
    margin: 10px auto;
    
}

.game-wrapper{
    display: flex;
    border: solid 0.5vw black;
    border-radius: 2vw;
    padding: 5vh 5vw;
}

.game-wrapper .box{
    width: 10vw;
    box-sizing: border-box;
    height: 10vw;
    border: solid 0.5vw darkslategrey;
    float:left;
    border-radius: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5vw;
    font-size: 5em;
}