body{
    position: relative;
    top: 20px;
    margin: auto;
    width: fit-content;
    padding: 40px;
    padding-top: 20px;
}

.container{
    max-width: 1920px;
}

.start{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2em;
    text-align: center;
    margin: 1vh auto 5vh auto;
    
}

.game-wrapper{
    display: flex;
    border: solid 0.5vw black;
    border-radius: 2vw;
    padding: 5vh 5vw;
}

.game-wrapper .box{
    width: 10vw;
    box-sizing: border-box;
    height: 10vw;
    border: solid 0.5vw darkslategrey;
    float:left;
    border-radius: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5vw;
    font-size: 5em;
}

#refresh{
    align-self: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2em;
    display: flex;
    margin: 1.5vw auto;
    padding: 0vw 1vw;
    background-color: lightgreen;
    border: solid 0.2vw darkslategrey;
    border-radius: 1vw;
}